<!-- 引入样式 -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<div id="app">
    <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
        <el-menu-item index="1">
            <h2>在线肿瘤诊断系统</h2>
        </el-menu-item>
    </el-menu>
    <form name="input_id" action="/input_id/" method="post">
        输入id:
        <el-input type="text" name="txt_id"></el-input>
        <el-input type="submit" value="提交" @click='showimg = true'></el-input>
    </form>
    <div v-if='showimg'>
        <p>肝癌概率为：{{ pred }}</p>
        <table style="width:100%">
            <tr>
                <th>CT图</th>
                <th>热图</th>
            </tr>
            {% for filename in filenames %}
            <tr>
                <td><img src="static/{{ filename }}.jpg" /></td>
                <td><img src="static/{{ filename }}_hm.jpg" /></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                showimg: false,
            }
        },
    })
</script>